@use "_reset.scss";
@use "_lightbox.scss";


//ブレイクポイントの設定
$l-point: 959px;
$m-point: 765px;
$s-point: 420px;
//mixinの設定
@mixin size-l {
 @media (max-width:$l-point){
 @content;
 }
}
@mixin size-m {
 @media (max-width:$m-point){
 @content;
 }
}
@mixin size-s {
 @media (max-width:$s-point){
 @content;
}
}

body{
font-family: 'Oswald', sans-serif;
background-color: bisque;
}

h1{
text-align: center;
font-size: 40px;
background-image: linear-gradient(rgba(0 0 0 / 0) 70%, rgb(255, 165, 0));
width: -moz-fit-contnet;/* firefox用 */
width: fit-content;
margin: 100px auto 50px;
line-height: 1;
}

.col-wrapper{
width: 90%;
margin: 0 auto 50px;
columns: 4;
@include size-l{
columns: 3;
}
@include size-m{
columns: 2;
}
@include size-s{
columns: 1;
}
column-gap: 20px;
}
.col-box{
break-inside: avoid;
background-color: #FFF;
padding: 10px;
margin-bottom: 20px;
border-radius: 5%;
@include size-s{
&:nth-of-type(n+5){
display: none;
}
}


img{
border-radius: 5%;
}
h2{
margin: 10px 0 2px;
}
p{
font-size: 20px;
}
}

.button02{
display: none;
@include size-s{
display: block;
margin-bottom: 30px;
}
}

.button02 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

.button02 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button02 a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

#more::before{
content: "もっと見る";
}

#more.close::before{
content: "閉じる";
}